<launch>

	<!--Runs I2C communication node-->
	<node pkg="diff_tracked" type="i2c_comns" name="i2c_comns" />

	<!--Runs static transformation for tracked robot -->
	<node pkg="diff_tracked" type="static_robot_tf" name="static_robot_tf" />

	<!--Runs velocity commands to robot base-->>
	<node pkg="diff_tracked" type="wheel_velocity_controller" name="wheel_velocity_controller" />

	<!--Runs odometry node for robot pose and twist -->
	<node pkg="diff_tracked" type="diff_robot_odometry" name="diff_robot_odometry" />


	<!--Filters the imu raw data (i.e., linear acceleration and angular velocity) into orientation
	<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">
		<remap from="imu/data_raw" to="imu_raw_data" />
		<remap from="imu/data" to="imu_data" />
		<param name="use_mag" value="false" />
	</node>
	-->
	<!--Fuse Odometry data with IMU data and poste it onto Odom frame
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<param name="output_frame" value="odom"/>
		<param name="base_footprint_frame" value="base_link"/>
		<param name="freq" value="5.0"/>
		<param name="sensor_timeout" value="5.0"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="true"/>
		<param name="vo_used" value="false"/>
		<param name="debug" value="false"/>
		<param name="self_diagnose" value="false"/>
	</node>
	-->
	<!--Runs Fake_Localization to simulate localization on map-->
	<node pkg="fake_localization" type="fake_localization" name="fake_localization">
		<remap from="base_pose_ground_truth" to="odom" />
		<param name="delta_x" value="-5.0" />
		<param name="delta_y" value="-5.0" />
	</node>
	

	<!--Runs move_base package using configuration files-->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find diff_tracked)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find diff_tracked)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find diff_tracked)/config/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find diff_tracked)/config/global_costmap_params.yaml" command="load" />
	</node>



</launch>
